.button {
    height: 100px;
    width: 100px;
    font-size: x-large;
    
}

.menubar{
    border: 5px solid black;
    height: 100px;
}

#DFA1{
    position:relative;
    max-width: 75%;
    max-height: inherit;
}

#DFA2{
    max-width: inherit;
    max-height: inherit;
}

#btn1{
    width: 50%; 
    height: 100%; 
    float: left;
}

#btn2{
    width: 50%; 
    height: 100%; 
    float: right;
}

#screen{   
    border: 5px solid black; 
    display:flex;

    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#controls{
    width: 50%;    
    text-align: center;
} 

#simulator{
    width: 50%;
    border: 1px solid gray;
}

#container{
    display: none;
}

text{
    font-family: 'Courier New', Courier, monospace;
}

#cfgContainer{
    align-self: center;
    text-align: center;
    font-size: x-large;
    width:50%;
}

#PDA{
    border: 1px solid gray;
    text-align: center;
    width: 50%;
    max-width:100%;
}

.buttonControls{
    width:49%;
    height: 65px;
    font-size: large;
}

label{
    font-family: sans-serif;
    font-size: xx-large;
}

#input string{
    height: 100px;
}
